.layout {

}

.layout--sidebar {
  padding-left: 80px;
}

.layout__sidebar {
  width: 80px;
  position: fixed;
  left: 0;
  height: 100%
}

.layout__sidebar--dark {
  background: $dark-grey;
}

.layout__content {
  left: 0;
}